[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
xmltodict = "*"
beautifulsoup4 = "*"
tqdm = "*"

[dev-packages]
black = "==20.8b1"
pytest = "*"
pytest-only = "*"
pytest-clarity = "==0.3.0a0"

[requires]
python_version = "3.8"
